extends ../../layout
block content
    .events-page
        .topbar
            h1 events pannel
            .btn
                i(class="fa-duotone fa-plus")
                .
                    create new event
        hr
        each ev in events
            .events-container(id=ev._id)
                .card(id=`${ev._id}`)
                    img(src="/images/events/resized/" + ev.image)
                    h2=ev.name
                    p=ev.date.toISOString().substr(0,10)
                    p="address : " + ev.address
                    .action
                        .btn edit
                        .btn delete
        .overlay
            .overlay-content
                .close
                    i(class="fa-duotone fa-2x fa-xmark")
                include create
    block script
        script(src="/javascripts/events.js")