extends ../../layout
block content
    .events-page

        .topbar
            h1 Events pannel
            .btn
                i(class="fa-duotone fa-plus")
                .
                    create new event
        if success
            ul(class="success-message")
                li
                    i(class="fad fa-8x fa-thumbs-up")
                li=success
        if errors
            ul(class="error-message")
                li
                    i(class="fad fa-8x fa-exclamation-triangle")
                each error in errors
                    li=error
        .events-container
            each ev in events
                .card(id=`${ev._id}`)
                    img(src="/images/events/resized/" + ev.image)
                    h2=ev.name
                    p=ev.date.toISOString().substr(0,10)
                    p="address : " + ev.address
                    .action
                        .btn edit
                        .btn delete
        .overlay
            .overlay-content
                .close
                    i(class="fa-duotone fa-2x fa-xmark")
                include create

    block script
        script(src="/javascripts/events.js")