extends ../../layout
block content
    h1 events layout
    hr
    each ev in events
        div
            img(src="/images/events.jpg" style="height:150px")
            div=ev.name
            div=ev.date
            div=ev.address
            div=ev.planning.from
            div=ev.planning.to
        hr