extends ../../layout
block content
    .users-page
        .topbar
            h1 User pannel
        .table
            table
                thead
                    tr
                        th Username
                        th image
                        th Email
                        th Role
                        th Action
                tbody
                    each user in users
                        tr(id=user._id)
                            td=user.username
                            td=user.image
                            td=user.local.email
                            td
                                include role
                                    option(selected hidden)=user.role
                            td
                                .btn delete
block script
    script(src='/javascripts/users.js')