extends ../../layout
block content
    .users-page
        .topbar
            h1 User pannel
        .table
            table
                thead
                    tr
                        th Username
                        th image
                        th Email
                        th Role
                        th Action
                tbody
                    each user in users
                        if(user.username !== currentUser.username)
                            tr(id=user._id)
                                td=user.username
                                td=user.image
                                td=user.local.email
                                td
                                    .custom-select
                                        select
                                            option(value="" selected)
                                        .selected=user.role
                                            i(class="fa-duotone fa-chevron-down r-180-none")
                                        .drop
                                            span(data="ROLE_USER") ROLE_USER
                                            span(data="ROLE_ADMIN") ROLE_ADMIN
                                            span(data="ROLE_SUPERADMIN") ROLE_SUPERADMIN
                                td
                                    .btn delete
block script
    script(src='/javascripts/users.js')