extends ../../layout
block content
    .users-page
        .topbar
            h1 User pannel
            div=users.length + " user"
            p=users[0]
        hr
        .table
            table
                thead
                    tr
                        th Username
                        th image
                        th Email
                        th Role
                        th Action
                tbody
                    each user in users
                        tr
                            td=user.username
                            td=user.image
                            td=user.local.email
                            td
                                select
                                    option(value="ROLE_ADMIN") ROLE_ADMIN
                            td
                                .btn delete