extends ../../layout
block content
    .users-page
        .topbar
            h1 User pannel
        if success
            ul(class="success-message")
                li
                    i(class="fad fa-8x fa-thumbs-up")
                li=success
        if errors
            ul(class="error-message")
                li
                    i(class="fad fa-8x fa-exclamation-triangle")
                each error in errors
                    li=error
        .events-container
        .table
            table
                thead
                    tr
                        th Username
                        th image
                        th Email
                        th Role
                        th Action
                tbody
                    each user in users
                        if(user.username !== currentUser.username)
                            tr(id=user._id)
                                td=user.username
                                td=user.image
                                td=user.local.email
                                td
                                    .custom-select
                                        select
                                            option(value="" selected)
                                        .selected=user.role
                                            i(class="fa-duotone fa-chevron-down r-180-none")
                                        .drop
                                            span(data="ROLE_USER") ROLE_USER
                                            span(data="ROLE_ADMIN") ROLE_ADMIN
                                            span(data="ROLE_SUPERADMIN") ROLE_SUPERADMIN
                                td
                                    .btn delete
            .alert
                .alert-box
                    i(class="fa-duotone fa-3x fa-exclamation")
                    p(class="title") Are you sure ?
                    p(class="alert-message") You will not be able to recover
                        span content !
                    .action
                        .btn cancel
                        .btn yes
block script
    script(src='/javascripts/users.js')