extends ../../layout
block content
    .content-page
        .topbar
            h1 content preview
        if success
            ul(class="success-message")
                li
                    i(class="fad fa-8x fa-thumbs-up")
                li=success
        if errors
            ul(class="error-message")
                li
                    i(class="fad fa-8x fa-exclamation-triangle")
                each error in errors
                    li=error
        .content-container
            each c in site
                form(method="post" action="/admin/siteContents/update/"+c._id enctype="multipart/form-data")
                    label site title :
                        input(type="text" value=c.title name="title")
                    label site description :
                        input(type="text" value=c.description name="description")
                    label promo title :
                        input(type="text" value=c.promoTitle name="promoTitle")
                    label promo description :
                        input(type="text" value=c.promoDesc name="promoDesc")
                    label promo image :
                        input(type="file" name="promoImg")
                    button(class="btn") save
block script
    script(src="/javascripts/content.js")