extends ../../layout
block content
    .blog-page
        if errors
            ul(class="error-message")
                li
                    i(class="fad fa-8x fa-exclamation-triangle")
                each error in errors
                    li=error
        form(method="post" action="/admin/blogs/update/" + blog._id enctype="multipart/form-data")
            .img-container
                img(src="/images/blogs/resized/" + blog.image + "")
                .button
                    i(class="fad fa-2x fa-pen-square")
            input(type="file" name="image")
            label title
                input(type="text" value=`${blog.title}` name="title")
            label content
                textarea(name="content")=blog.content
            if blog.author
                p="Author : " + blog.author.username
            p="Date : " + blog.created
            button(class="btn") save
block script
    script(src="/javascripts/blog.js")
