extends ../../layout
block content
    .blog
        .topbar
            h1 Blog pannel
            .flex
                .btn
                    i(class="fa-duotone fa-plus")
                    .
                        create new post
                .stats
                    div=blogs.length + " posts"
        if success
            ul(class="success-message")
                li
                    i(class="fad fa-8x fa-thumbs-up")
                li=success
        if errors
            ul(class="error-message")
                li
                    i(class="fad fa-8x fa-exclamation-triangle")
                each error in errors
                    li=error
        .blog-content
            each blog in blogs
                .card(id=`${blog._id}`)
                    img(src="/images/blogs/resized/" + blog.image)
                    h2=blog.title
                    if blog.author
                        h4="author : " + blog.author.username
                    .action
                        if currentUser.role ==='ROLE_SUPERADMIN' || currentUser.role === 'ROLE_ADMIN'
                            .btn edit
                            .btn delete
        .overlay
            .overlay-content
                .close
                    i(class="fa-duotone fa-2x fa-xmark")
                include create
        .alert
            .alert-box
                i(class="fa-duotone fa-3x fa-exclamation")
                p(class="title") Are you sure ?
                p(class="alert-message") You will not be able to recover
                    span content !
                .action
                    .btn cancel
                    .btn yes , do it !

block script
    script(src="/javascripts/blogs.js")