extends ../../layout
block content
    .blog
        .topbar
            h1 Blog pannel
            .flex
                .btn create new post

                .stats
                    div=blogs.length+" posts"
                .message
                    case message
                        default
                            p create , edit , delete everything
                                strong  #{currentUser.username}
        .blog-content
                each blog in blogs
                    .card(id=`${blog._id}`)
                         img(src="/images/blogs/" + blog.image)
                         h2=blog.title
                         h4="author : "+blog.author.username
                         div
                            if blog.author._id = currentUser._id
                                .btn edit
                            .btn delete
        .overlay
            .overlay-content
                .close
                    i(class="fa-duotone fa-2x fa-xmark")
                include create

    block script
        script(src="/javascripts/blog.js")